<?php

define('PROJECT_NAME', 'FrameworkValou');
define('DB_USER', 'root');
define('DB_PASS', '');
define('DB_NAME', 'test');
define('ROOT', dirname(str_replace('\\', '/', __DIR__)));
define('PATH', 'http://localhost/FrameworkValou');
define('MJ_APIKEY_PUBLIC', 'IF YOU USE MAILJET');
define('MJ_APIKEY_PRIVATE', 'IF YOU USE MAILJET');
define('MJ_FROM_EMAIL', 'IF YOU USE MAILJET');
define('MJ_FROM_NAME', 'IF YOU USE MAILJET');
define('FACEBOOK_APIKEY', 'FACEBOOK API KEY');
define('FACEBOOK_API_SECRET', 'FACEBOOK API SECRET');
define('UPLOAD_PATH', ROOT . 'images/upload');
define('DEFAULT_LANGAGE', 'en');
